@{
    ViewBag.Title = "Bem-vindo!";
}

<div class="jumbotron">
    <h1>Sportize</h1>
    <p class="lead">Bem-vindo ao Sportize, a sua plataforma esportiva</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Jogadores</h2>
        <p>
            Confira todos os jogadores cadastrados até o momento
        </p>
        <p>@Html.ActionLink("Jogadores", "Index", "Player", null, new { @class = "btn btn-primary" })</p>
    </div>
    <div class="col-md-4">
        <h2>Grupos</h2>
        <p>Confira nossos grupos cadastrados</p>
        <p>@Html.ActionLink("Grupos", "Index", "Group", null, new { @class = "btn btn-primary" })</p>
    </div>
    <div class="col-md-4">
        <h2>Eventos</h2>
        <p>Confira nossa lista de eventos!</p>
        <p>@Html.ActionLink("Eventos", "Index", "Event", null, new { @class = "btn btn-primary" })</p>
    </div>
</div>